## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import os

In [2]:
CHARITY_DATA_URL = "https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv"
OUTPUT_FILE_PATH = os.path.join('Output', 'AlphabetSoupCharity_Optimization.h5')

In [3]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME', 'SPECIAL_CONSIDERATIONS'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Define a function to replace values below a certain threshold
def replace_values(data_series, threshold):
    doomed_value_series =data_series.value_counts() < threshold
    doomed_values = data_series.value_counts()[doomed_value_series].index

    replacement_fs = data_series.isin(doomed_values)
    data_series[replacement_fs] = 'Other'
    return data_series

In [8]:
# # Call the replace_values function to replace the values in the Application_Type column, with a cutoff of 500
application_df['APPLICATION_TYPE'] = replace_values(application_df['APPLICATION_TYPE'], 2500)

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

C:\Users\kevin\AppData\Local\Temp\ipykernel_20608\2865530588.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_series[replacement_fs] = 'Other'

APPLICATION_TYPE
T3       27037
Other     7262
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [10]:
# Call the replace_values function to replace the values in the Classification column, with a cutoff of 1000
application_df['CLASSIFICATION'] = replace_values(application_df['CLASSIFICATION'], 2000)
    
# # Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C:\Users\kevin\AppData\Local\Temp\ipykernel_20608\2865530588.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_series[replacement_fs] = 'Other'

CLASSIFICATION
C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [12]:
# Split our preprocessed data into our features and target arrays
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation="tanh", input_dim=32))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=3, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=3, activation="tanh"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Sixth hidden layer
nn.add(tf.keras.layers.Dense(units=3, activation="tanh"))

# Seventh hidden layer
nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Eighth hidden layer
nn.add(tf.keras.layers.Dense(units=2, activation="tanh"))

# Ninth hidden layer
nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))



# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 165

 dense_1 (Dense)             (None, 3)                 18

 dense_2 (Dense)             (None, 3)                 12

 dense_3 (Dense)             (None, 1)                 4

 dense_4 (Dense)             (None, 1)                 2

 dense_5 (Dense)             (None, 3)                 6

 dense_6 (Dense)             (None, 1)                 4

 dense_7 (Dense)             (None, 2)                 4

 dense_8 (Dense)             (None, 1)                 3

 dense_9 (Dense)             (None, 1)                 2

=================================================================
Total params: 220 (880.00 Byte)
Trainable params: 220 (880.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=25)

Epoch 1/25
804/804 [==============================] - 4s 3ms/step - loss: 0.7898 - accuracy: 0.5561
Epoch 2/25
804/804 [==============================] - 2s 3ms/step - loss: 0.6048 - accuracy: 0.6968
Epoch 3/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5961 - accuracy: 0.7017
Epoch 4/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5936 - accuracy: 0.7039
Epoch 5/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5936 - accuracy: 0.7026
Epoch 6/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5918 - accuracy: 0.7041
Epoch 7/25
804/804 [==============================] - 3s 3ms/step - loss: 0.5916 - accuracy: 0.7058
Epoch 8/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5909 - accuracy: 0.7063
Epoch 9/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5901 - accuracy: 0.7061
Epoch 10/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5896 - accuracy: 0.7064
Epoch 11/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5898 - accuracy: 0.7070
Epoch 12/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5891 - accuracy: 0.7075
Epoch 13/25
804/804 [==============================] - 3s 3ms/step - loss: 0.5886 - accuracy: 0.7078
Epoch 14/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5882 - accuracy: 0.7084
Epoch 15/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5881 - accuracy: 0.7077
Epoch 16/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5879 - accuracy: 0.7088
Epoch 17/25
804/804 [==============================] - 3s 3ms/step - loss: 0.5871 - accuracy: 0.7091
Epoch 18/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5877 - accuracy: 0.7072
Epoch 19/25
804/804 [==============================] - 3s 3ms/step - loss: 0.5868 - accuracy: 0.7075
Epoch 20/25
804/804 [==============================] - 3s 4ms/step - loss: 0.5870 - accuracy: 0.7083
Epoch 21/25
804/804 [==============================] - 3s 4ms/step - loss: 0.5864 - accuracy: 0.7084
Epoch 22/25
804/804 [==============================] - 3s 4ms/step - loss: 0.5866 - accuracy: 0.7086
Epoch 23/25
804/804 [==============================] - 3s 3ms/step - loss: 0.5864 - accuracy: 0.7077
Epoch 24/25
804/804 [==============================] - 3s 3ms/step - loss: 0.5862 - accuracy: 0.7081
Epoch 25/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5859 - accuracy: 0.7080

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5860 - accuracy: 0.7055 - 843ms/epoch - 3ms/step
Loss: 0.5859823822975159, Accuracy: 0.705539345741272

In [18]:
# Export our model to HDF5 file
nn.save(OUTPUT_FILE_PATH, save_format='h5')

C:\Users\kevin\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(